<h1>Nuevo doctor</h1>

<form method="post">
    <label>Número</label>
    <input type="number" name="iddoctor"
           class="form-control" /><br />
    <label>Apellido</label>
    <input type="text" name="apellido"
           class="form-control" /><br />
    <label>Especialidad</label>
    <input type="text" name="especialidad"
           class="form-control" /><br />
    <label>Salario</label>
    <input type="number" name="salario"
           class="form-control" /><br />
    <button class="btn btn-success">
        Insertar doctor
    </button>
</form>

